* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

/* HOME */
.home-main {
  width: fit-content;
  margin: auto;
}

.home-title {
  margin-top: 2rem;
}
